<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的消息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/icons-extra.css" />
		<link rel="stylesheet" href="css/mynews.css" />
		<script type="text/javascript" src="js/jquery-1.7.1.js" ></script>
	</head>
	<body style="background: #FFFFFF;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">消息通知</h1>
		</header>
		<div class="mui-content">
			<div class="mybew_div">
				<div class="mybew_divcol"></div>
				<div class="mui-card">
			        <ul class="mui-table-view">
			            <li class="mui-table-view-cell">
			            	<div class="mui-card-title">往日复合物评论了你的晒单：真的很好喝吗？我也想入手一盒</div> 
							<div class="mui-card-nr">这个茶叶真的很棒，价格也优惠，推荐这个茶叶真的很棒，价格也优惠，推荐</div> 
							<div class="detail-base">
								<span>2018-04-29</span>
							</div>
			            </li>
			        </ul>
			    </div>
			</div>
			<div class="mybew_div">
				<div class="mybew_divcols"></div>
				<div class="mui-card">
			        <ul class="mui-table-view">
			            <li class="mui-table-view-cell">
			            	<div class="mui-card-title">往日复合物赞了你的晒单！</div> 
							<div class="mui-card-nr">这个茶叶真的很棒，价格也优惠，推荐这个茶叶真的很棒，价格也优惠，推荐</div> 
							<div class="detail-base">
								<span>2018-04-29</span>
							</div>
			            </li>
			        </ul>
			    </div>
			</div>
			<div class="mybew_div">
				<div class="mybew_divcolss"></div>
				<div class="mui-card">
			        <ul class="mui-table-view">
			            <li class="mui-table-view-cell">
			            	<div class="mui-card-title">遵义红茶叶已发货，注意查收！</div> 
							<div class="mui-card-nr">XXXX遵义红茶叶商品全称</div> 
							<div class="detail-base">
								<span>2018-04-29</span>
							</div>
			            </li>
			        </ul>
			    </div>
			</div>
			<div class="mybew_div">
				<div class="mybew_divcols"></div>
				<div class="mui-card">
			        <ul class="mui-table-view">
			            <li class="mui-table-view-cell">
			            	<div class="mui-card-title">往日复合物赞了你的晒单！</div> 
							<div class="mui-card-nr">这个茶叶真的很棒，价格也优惠，推荐这个茶叶真的很棒，价格也优惠，推荐</div> 
							<div class="detail-base">
								<span>2018-04-29</span>
							</div>
			            </li>
			        </ul>
			    </div>
			</div>
			<div class="mybew_div">
				<div class="mybew_divcol"></div>
				<div class="mui-card">
			        <ul class="mui-table-view">
			            <li class="mui-table-view-cell">
			            	<div class="mui-card-title">往日复合物评论了你的晒单：真的很好喝吗？我也想入手一盒</div> 
							<div class="mui-card-nr">这个茶叶真的很棒，价格也优惠，推荐这个茶叶真的很棒，价格也优惠，推荐</div> 
							<div class="detail-base">
								<span>2018-04-29</span>
							</div>
			            </li>
			        </ul>
			    </div>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
		</script>
	</body>

</html>