body {
    background-color: #fff;
}

.mui-content {
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
}

/*�ҵĶ���-��������*/
.menu-order {
	position: relative;
	overflow: hidden;
	background-color: #04757d;
	text-align: center;
	line-height: 48px;
	color: #fff;
	font-size: 15px;
}

.menu-order-single {
	width: 22%;
	line-height: 45px;
    float: left;
    color: #fff;
    text-align: center;
}

/* .menu-order-active {
	color: #62bca3;
} */
/* .mui-icon{
	line-height: 48px;
} */

/*�ҵĶ���-�����б�*/
.order-list {
	position: relative;
    overflow: hidden;
    clear: both;
}

.order-single {
	width: 100%;
	border-bottom: 5px solid #F0F0F0;
	background-color: #fff;
	padding:0 5px;
}

.order-detail {
	display: block;
	border-bottom: 1px solid #f0f0f0;
	padding:10px 5px;
	position: relative;
	clear: both;
	overflow: hidden;
}

.order-img {
	position: absolute;
    top: 0;
    left: -10px;
    padding: 5px;
    width: 100px;
    height: auto;
}
.order-img img{
	width: 100%;
    height: 100%;
}
.order-info {
	position: relative;
    clear: both;
    overflow: hidden;
    line-height: 1.8;
    padding: 5px 5px 5px 100px;
}
.mui-media-body-wz {
    font-size: 13px;
    color: #333;
}
.mui-pull-right{
	font-size: 12px;
    color: #999;
    line-height: 30px;
}

.order-btn-list {
	position: relative;
	clear: botn;
	overflow: hidden;
	padding: 5px 0;
	line-height: 40px;
}
.order-btn-jiage{
	float: left;
	margin-left: 5px;
}
.order-btn-jiage span:nth-child(1){
	font-size: 12px;
	color: #333333;
}
.order-btn-jiage span:nth-child(2){
	font-size: 12px;
	color: #c65280;
}
.order-btn-dindan{
	float: right;
}
.order-btn-dindan span:nth-child(1){
	padding: 5px 20px;
	border-radius: 5px;
	border: 1px solid #595959;
	font-size: 10px;
	color: #666666;
	text-align: center;
	margin-right: 5px;
}
.order-btn-dindan span:nth-child(2){
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #04757d;
	font-size: 10px;
	color: #04757d;
	text-align: center;
	margin-right: 5px;
}