<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medicinefood.mapper.usermapper.GradeUpgradeConditionGroupMapper">
 <select id="selectG_U_C_GroupToC_G_id" parameterType="int" resultType="GradeUpgradeConditionGroupEntity">
  SELECT condition_group_id,condition_group_name,condition_group_describe,user_grade_id FROM grade_upgrade_condition_group
  WHERE condition_group_id=#{condition_group_id,jdbcType=INTEGER}
 </select>
 <insert id="insertGradeUpgradeConditionGroupEntity" parameterType="GradeUpgradeConditionGroupEntity" useGeneratedKeys="true" keyProperty="condition_group_id">
 INSERT INTO grade_upgrade_condition_group (condition_group_name,condition_group_describe,user_grade_id)
 VALUE
 (
 #{condition_group_name,jdbcType=VARCHAR},
 #{condition_group_describe,jdbcType=VARCHAR},
 #{user_grade_id,jdbcType=INTEGER}
 ) 
 </insert>
 <select id="selectG_U_C_GroupToG_id" parameterType="int" resultType="GradeUpgradeConditionGroupEntity">
 SELECT condition_group_id,condition_group_name,condition_group_describe,user_grade_id FROM grade_upgrade_condition_group
  WHERE user_grade_id=#{user_grade_id,jdbcType=INTEGER}
 </select>
 <delete id="deleteG_U_C_GroupToC_G_id" parameterType="int">
  DELETE FROM grade_upgrade_condition_group 
  WHERE condition_group_id=#{condition_group_id,jdbcType=INTEGER}
 </delete>
</mapper>