<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.medicinefood.mapper.usermapper.SignIntegralMapper">
    <insert id="addSignIntegral" parameterType="SignIntegral"
		useGeneratedKeys="true" keyProperty="sign_id">
		insert into sign_integral
		(sign_id,user_basics_id,sign_num,sign_date,sign_state,add_date,sign_point)
		value (#{sign_id,jdbcType=INTEGER}
		,#{user_basics_id,jdbcType=INTEGER}
		,#{sign_num,jdbcType=INTEGER}
		,#{sign_date,jdbcType=BIGINT}
		,#{sign_state,jdbcType=INTEGER}
		,#{add_date,jdbcType=VARCHAR}
		,#{sign_point,jdbcType=INTEGER}
		);
	</insert>
	<select id="findSignIntegral6" parameterType="SignIntegral" resultType="SignIntegral">
		SELECT s.sign_id,s.user_basics_id,s.sign_num,s.sign_date,sign_state,s.add_date,s.sign_point FROM sign_integral s
		WHERE 1=1
		and s.user_basics_id=#{user_basics_id,jdbcType=INTEGER}
		<if test="add_date!=null">
		and s.add_date&gt;=#{add_date,jdbcType=INTEGER}
		</if>
		<if test="sign_state!=null">
		and s.sign_state=#{sign_state,jdbcType=INTEGER}
		</if>
		order by s.add_date desc
	</select>
	

	
</mapper>